<div class="detail-body">
    
    <form name="form" id="form-body" (ngSubmit)="createItem(bucketlist.id); item_name.reset()" #f="ngForm" novalidate>
            <div class="form-group">
            <label for="item_name" class="label-names">Create Item</label>
            <input type="text" class="form-control" placeholder="Item Name" name="item_name" [(ngModel)]="model.item_name" #item_name="ngModel" required />
            <div *ngIf="f.submitted && errorMessage" class="help-block">{{errorMessage}}</div>
            
            </div>
            <div class="form-group">
            <button class="btn btn-primary">Submit</button>
            </div>
    </form>

    <p *ngIf="itemData?.length < 1">You have no Items for this bucketlist mate!</p>
    
     <section *ngFor="let item of itemData | paginate: config; let i = index" class="item">
        <app-item-detail [item]="item" [itemData]="itemData" [i]="i" [bucketlistId]="bucketlist.id"></app-item-detail>
    </section>
    

    <!-- Pagination  -->
    <div class="has-text-centered" id="page">
            <pagination-controls [id]="config.id"
                                [maxSize]="maxSize"
                                [directionLinks]="directionLinks"
                                (pageChange)="onPageChange($event)" id="page"></pagination-controls>
    </div>

</div>