
<!--Mask-->
<div class="view">
    <!--Intro content-->
    <div class="full-bg-img flex-center">
        <ul>
            <li>
                <h1 class="h1-responsive">Wishlist helps you keep track of your bucketlists!</h1></li>
                <li><h3 class="salute">Hi {{ username }}, You're logged in!</h3></li>
            <li>
                <p>Never lose track of that one special moment</p>
            </li>
            <li>
                <a [routerLink]="['bucketlists']" class="btn btn-primary btn-lg">Create Bucketlists</a>
                <a [routerLink]="['login']" class="btn btn-default btn-lg">Logout</a>
            
            </li>
        </ul>
    </div>
    <!--/Intro content-->
</div>
<!--/.Mask-->
