<div class="login-body">
<div class="card-block">

    <div class="text-xs-center">
        <h3 class="logo-text"><i class="fa fa-gitlab" aria-hidden="true"></i>ishlist</h3>
        <!-- <hr class="mt-2 mb-2"> -->
    </div>
    
<!--Mask-->
<div class="view">
    <!--Intro + nav content-->
    <div class="full-bg-img flex-center">
        <ul>
             <li class="nav-links">
                <a [routerLink]="['bucketlists']" class="btn btn-default btn-rounded">Bucketlists</a>
                <a href="/" class="btn btn-default btn-rounded">View Profile</a>
                <a [routerLink]="['login']" class="btn btn-default btn-rounded">Logout</a>
                <!-- <a class="salute">Hi {{ username }}</a> -->
            </li>
            <li>
                <h1 class="h1-responsive">Wishlist helps you keep track of your bucketlists</h1></li>
            <li>
                <p>Never lose track of that one special moment</p>
            </li>
        </ul>
    </div>
    <!--/Intro + nav content-->
</div>
<!--/.Mask-->
</div>

</div>
