@import url('https://fonts.googleapis.com/css?family=Poiret+One|Satisfy');
p,
h1,
h2,
label,
button,
.login-header,
a{
    font-family: 'Poiret One', cursive;
}

html,
body,
.view {
    height: 100%;
    width: 100%;
}
p{
    color: black;
}
.card-block{
    margin-top: -1%;
}
.logo-text{
    font-size: 4.92rem;
    text-align: center;
    font-family: 'Satisfy', cursive;
    margin-bottom: -9%;
    margin-top: 3%;
}
.view {
    text-align: center;
    margin-top: 10%;
}
.salute{
    float: right;
}
.nav-links{
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 30%;
    margin-right: 30%;
}